p {
    color: #313638;
}

.overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}


.blackOpacity {
    color: #aaa;
}

.blackText {
    color: #565656;
}

.smallText {
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.green-color {
    background-color: #2CC304 !important;
}

.blackBlue-color {
    background-color: #1C344F !important;
}

.red-color {
    background-color: #F5365C !important;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}


.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.fz18 {
    font-size: 18px;
}

.fz27 {
    font-size: 27px;
}

.fz36 {
    font-size: 36px;
}

.auto-height {
    height: auto !important;
}



/* STYLE INPUT TEXT */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
    outline: none;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #565656;
    user-select: none;
}

/*input[type="text"]:focus,*/
/*input[type="email"]:focus,*/
/*input[type="date"]:focus {*/
/*    border-color: #007bff;*/
/*    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);*/
/*}*/

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="date"]::placeholder {
    color: #aaa;
}

input[type="date"] {
    color: #aaa;
}

input[type="text"]:hover,
input[type="email"]:hover, input[type="date"]:hover
{
    cursor: pointer;
    border-color: #999;
}


input[type="submit"], input[type="button"], button {
    outline: none;
    width: auto;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    background-color: #4379EE;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover {
    background-color: #3f6bca;
    cursor: pointer;
}

.btn-icon {
    width: 40px;
}

.btn-icon i {
    font-size: 17px;
}

.password-div {
    background: white;
    display: flex;
    align-items: center;
    outline: none;
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #565656;
    user-select: none;
}

.password-div input {
    border: none;
    border-radius: unset;
    background: transparent;
}

.password-div input:focus{
    box-shadow: none;
}

.transition-scale {
    transition: transform 0.3s ease-in-out;
}

.transition-scale:hover {
    transform: scale(1.05);
}