@import url('main.css');
@import url('components.css');
@import url('main-body.css');


.student-card {
    background-color: white;
    width: 250px;
    height: 280px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.student-card:hover {
    transform: scale(1.05);
}

.background-image {
    height: 70px;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.student-avatar {
    width: 83px;
    height: 83px;
    border-radius: 100%;
    overflow: hidden;
    margin: -30px auto 0;
    border: 3px solid white;
    position: relative;
    z-index: 1;
}
